<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Automaton testing">
	<listeners>
		<listener class-name="listeners.TestListener"></listener>
	</listeners>
	<test name="Interview Assignment Undostres">
		<classes>
			<class name="tests.AssignmentTest"/>
		</classes>
	</test>
</suite>