<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} %level - %msg%n}{FATAL=bg_red, ERROR=Bright red, WARN=yellow, INFO=black, DEBUG=blue}" disableAnsi="false" />
		</Console>
		<File name="MyFile" fileName="debug.log" immediateFlush="true"
			append="false">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %level - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="MyFile" />
		</Root>
	</Loggers>
</Configuration>